<div class='rblock'
  <img src='<%= url_for(:controller => 'wiki_r', :action => 'image', :image_id => name) %>' alt='<%= source %>' />
  <span class='wiki_page'>Goto source: [[<%= wiki_name %>]]</span>
</div>
<% content_for :header_tags do %>
   <%= stylesheet_link_tag "wiki_r.css", :plugin => "wiki_r_plugin", :media => :all %>
<% end %>
